.container-body
  height: 100vh
  .row--form
    width: 500px

  .img-bg
    background: url('../../../../../assets/img/login-background.jpg') no-repeat center center fixed
    background-size: cover
    width: 100vw
    height: 100%

  .vertical-center
    min-height: 500px
    min-height: 500px
    display: flex
    align-items: center




