<header class="header-menu-container header-menu-container-primary">
  <nav class="header-menu-nav">
    <input type="checkbox"
           id="check">
    <label for="check"
           class="header-menu-btn header-menu-btn-open header-menu-btn-white">
      <span class="material-icons">
        menu
      </span>
    </label>
    <label for="check"
           class="header-menu-btn header-menu-btn-close header-menu-btn-white">
      <span class="material-icons">
        close
      </span>
    </label>
    <label class="header-menu-logo header-menu-logo-white">DH</label>
    <ul class="header-menu-container-items header-menu-container-items-primary">
      <li><a class="active header-menu-item">Home</a></li>
      <li><a class="header-menu-item"
             (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>
