<article class="comment-container">
  <div class="comment-header">
    <img src="/assets/img/img_avatar.png"
         alt="Avatar"
         class="comment-avatar">
    <div>
      <strong><p class="comment-username">{{comment?.user?.username}}</p></strong>
      <p>{{comment?.content}}</p>
    </div>
  </div>
  <div class="comment-footer">
    <span class="material-icons comment-like">
      thumb_up
    </span>
    <span class="material-icons comment-add-comment">
      add_comment
    </span>
  </div>
</article>
