<section class="news-container news-container-primary news-container-shadow">
  <article class="news-box">
    <div class="news-card">
      <div class="news-card-header">
        <img src="/assets/img/img_avatar.png"
             alt="Avatar"
             class="news-container-avatar">
        <div>
          <strong><p class="news-username">{{user?.username}}</p></strong>
          <p class="news-date">{{bulletin?.createdDate}}</p>
        </div>
        <div class="news-container-dropdown">
          <ul class="news-container-dropbtn"
              onclick="showDropdown()">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="news-card-body">
        <img class="news-card-img"
             [src]="bulletin?.fileUrl">
        <p class="news-card-description">{{bulletin?.body}}</p>
      </div>
      <div class="news-card-footer">
        <button class="news-btn-option">
          <span class="material-icons">
            favorite
          </span>
        </button>
        <button class="news-btn-option"
                (click)="showComments()">
          <span class="material-icons">
            chat
          </span>
        </button>
        <button class="news-btn-option">
          <span class="material-icons">
            share
          </span>
        </button>
      </div>
      <section class="news-card-comments">
        <app-comment-creator *ngIf="isLoadComments"
                             [bulletin]="bulletin"></app-comment-creator>
      </section>
      <section class="comments">
        <app-comment *ngFor="let comment of comments | async"
                     [comment]="comment"></app-comment>
      </section>
    </div>
  </article>
</section>

