<section class="news-container news-container-primary news-container-shadow">
  <article class="news-box">
    <div class="news-card">
      <div class="news-card-header">
        <h3>Gary Franco</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
           enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="news-card-body">
        <img class="news-card-header-img"
             src="https://images.pexels.com/photos/158651/news-newsletter-newspaper-information-158651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>
      <div class="news-card-footer">
        <button class="news-btn-option">
          <span class="material-icons">
            favorite
          </span>
        </button>
        <button class="news-btn-option">
          <span class="material-icons">
            chat
          </span>
        </button>
        <button class="news-btn-option">
          <span class="material-icons">
            share
          </span>
        </button>
      </div>
    </div>
  </article>
</section>

