<section class="bulletin-creator-container bulletin-creator-container-primary bulletin-creator-container-shadow">
  <article class="bulletin-creator-box">
    <div class="bulletin-creator-card">
      <div class="bulletin-creator-card-header">
        <p>¿What are you thinking?</p>
      </div>
      <div class="bulletin-creator-card-body">
        <form>
          <label>
            <textarea class="bulletin-creator-textarea"></textarea>
          </label>
          <div class="bulletin-creator-form-item">
            <input class="bulletin-creator-input-form" placeholder="Insert URL">
          </div>
        </form>
      </div>
      <div class="bulletin-creator-card-footer">
        <button id="btnCreateBulletin"  class="bulletin-creator-btn-option bulletin-creator-btn-post" (click)="createBulletin()">
          <span class="material-icons">
            send
          </span>
        </button>
        <button  class="bulletin-creator-btn-option bulletin-creator-btn-upload-file" (click)="openModal()">
          <span class="material-icons">
            file_upload
          </span>
        </button>
      </div>
    </div>
  </article>
</section>
<section>
  <div *ngIf="showModal == true">
    <app-modal></app-modal>
  </div>
</section>


