//COLORS
$primary_color: #71c9ce;
$primary_color_complementary: #a6e3e9;
$secondary_color: #cbf1f5;
$secondary_color_complementary: #e3fdfd;
$primary_color_opacity: #71c9ce75;
$white_color: #ffffff;

//SHADOW COLORS
$box-shadow-primary: #a8a8a8;
$box_shadow_primary_complementary: #070C0E30;

//BORDERS
$border_color: #070C0E30;

//MODAL BACKGROUNDS
$primary_color_modal: #e3fdfd70



