<section class="modal-container-background modal-container-background-primary">
  <section class="modal-container">
    <article class="modal-card modal-card-primary">
      <div class="modal-card-header">
        <div class="modal-card-header-options">
          <h3>¿What are you thinking?</h3>
          <button class="modal-btn-option-cancel" (click)="closeModal()">Cancel</button>
        </div>
        <label class="modal-label-textarea">
          <textarea class="modal-textarea">

          </textarea>
        </label>
      </div>
      <div class="modal-card-body">

      </div>
      <div class="modal-card-footer">
        <button class="modal-btn-option-post modal-btn-option-post-primary" (click)="closeModal()">Post</button>
      </div>
    </article>
  </section>
</section>
